@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

article {
    width: 400px;
    height: 400px;
    background: blue;
    margin: 100px auto;
    opacity: 0.3;
    animation-name: rotation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 2;
    animation-delay: 0s;
}

article:hover {
    animation-play-state: paused;
}